<app-header/>

<main>
    <ul id="users">
            <li *ngFor="let user of users">
                <app-user [user]="user"
                [selected]="user.id === selectedUserId"
                (select)="onSelectUser($event)"
                />
            </li>
    </ul>
        @if (selectedUser){
            <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"/>
        } @else {
            <p id="fallback">Select a user to their tasks!</p>
        }

</main>